*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.notice{
    color: brown;
    margin: 20px 0 0 0;
}

.main1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    flex-wrap: wrap;
}

.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    margin: 5% auto;
    width: 370px;
}

input{
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    color: grey;
    margin: 10px auto;
    overflow-inline: scroll;
    width: 300px;
}

.button1{
    background-color: grey;
    border: 3px solid grey;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.button1:hover{
    box-shadow: 0 0 20px black;
}

.outcome{
    background-color: brown;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    margin: 0 50px 50px 50px;
    border-radius: 10px;
    gap: 10px;
}

#output1,#output2,#output3,#output4{
    animation: blink 1.2s infinite linear;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
}

.outcome.show{
    opacity: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: smaller;
  background: #000;
  color: white;
  padding: 10px;
}

@keyframes blink{
    0%{color: rgb(255, 255, 255);}
    50%{color: rgb(213, 213, 213);}
    100%{color: rgb(255, 255, 255);}
}

@media(max-width:450px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .main2{
        width: 250px;
        margin: 20px auto;
    }

    input{
        width: 90%;
    }

    .outcome{
        width: 250px;
    }
}